target/
*.class
.classpath
.project
.settings

logs/*
*/logs/*

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.sbtopts

.scala_dependencies
.worksheet
bin/

.idea
*.iml
*.ipr
*.iws
